<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link rel="stylesheet" href="/css/styles.css">
    <title>{{{pageTitle}}}</title>
</head>
<body>
    <header>
        <div class="header_title_div">
            <h1 class="header_title"> {{{headerTitle}}}</h1>
        </div>
        <div class="header_nav_links">
            <ul id="header_link_list">
                {{#each navLink}} 
                <li><a href={{{link}}}> {{{text}}}</a></li>
                {{/each}}
            </ul>
        </div>
    </header>
    {{{body}}}
</body>