<main class="error-container">
  <h1>Error</h1>
  {{#if errorMessage}}
    <div class="error-message" role="alert">
      {{errorMessage}}
    </div>
  {{else}}
    <div class="error-message" role="alert">
      An unknown error occurred.
    </div>
  {{/if}}

    <div class="error-actions">
      {{#each navLink}}
        <a href="{{this.link}}" class="button">{{this.text}}</a>
      {{else}}
        <a href="/" class="button">Return to Home</a>
      {{/each}}
    </div>
  </div>
</main>