<main>
  <div class="error-container">
    <h2>Error</h2>
    {{#if error}}
      <div class="error-message">
        {{error}}
      </div>
    {{else}}
      <div class="error-message">
        An unknown error occurred.
      </div>
    {{/if}}

    <div class="error-actions">
      {{#each navLink}}
        <a href="{{this.link}}" class="button">{{this.text}}</a>
      {{else}}
        <a href="/" class="button">Return to Home</a>
      {{/each}}
    </div>
  </div>
</main>